<div class="row">
    <div class="col-12">
        <button class="btn btn-success" [routerLink]="[0]"><i class="fa fa-edit"></i>Add new product</button>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    
                    <th>Price</th>
                    <th>Category</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let product of products$ | async">
                    <td>{{product.id}}</td>
                    <td>{{product.name}}</td>
                    
                    <td>{{product.price}}</td>
                    <td>{{product.category}}</td>
                    <td>
                        <button class="btn btn-primary" [routerLink]="[product.id]">
                            <i class="fa fa-edit" aria-hidden="true"></i>
                        </button>
                        <button class="btn btn-danger" (click)="onDelete(product)">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
