<div class="row">
    <div *ngIf="product$ | async as product" class="col-6 offset-3 mt-3">
        <h2>Update / Create product</h2>
        <form #productForm="ngForm" (ngSubmit)="onUpdate(productForm, product)">
            <input name="id" type="hidden" [(ngModel)]="product.id">
            <div class="form-group">
                <label for="name">Name</label>
                
                <input id="name" class="form-control" type="text" name="name" [(ngModel)]="product.name"
                    pattern="^[a-zA-Z -]{8,40}$" required>
                <div [hidden]="productForm.controls.name?.valid" class="error-message">
                    A name minimum 8 és maximum 40 karakterből állhat!
                </div>
            </div>
            
            <div class="form-group">
                <label for="price">price</label>
                
                <input id="price" class="form-control" type="number" name="price" [(ngModel)]="product.price"
                    pattern="\d{1,5}" required>
                <div [hidden]="productForm.controls.price?.valid" class="error-message">
                    A price 1-5 számjegyből állhat!
                </div>
            </div>
            <div class="form-group">
                <label for="category">category</label>
                
                <input id="category" class="form-control" type="text" name="category" [(ngModel)]="product.category"
                    pattern="^[a-zA-Z0-9 .-]{8,100}$" required>
                <div [hidden]="productForm.controls.category?.valid" class="error-message">
                    Az category minimum 8 és maximum 100 karakterből állhat!
                </div>
            </div>

            <button [disabled]="productForm.invalid || updating" type="submit" class="btn btn-primary btn-block mt-5">
                <i *ngIf="!updating" class="fa fa-save"></i>
                <i *ngIf="updating" class="fa fa-refresh"></i>
            </button>
        </form>
    </div>
</div>
